$animation-time: 0.2s;
$animation-time-visited: 0.5s;

.node-typ {
  width: 100%;
  height: 100%;
  transition: all$animation-time ease-in;
  cursor: pointer;
  border: 1px solid rgba(131, 131, 131, 0.418);
}

.start-node {
  background-color: var(--start-node-color);
  transform-origin: center;
  transform: scale(0);
  animation: NodeAnim $animation-time ease-in 0s 1 forwards;
}

.end-node {
  background-color: var(--end-node-color);
  transform-origin: center;
  transform: scale(0);
  animation: NodeAnim $animation-time ease-in 0s 1 forwards;
}

.visited-node {
  background-color: rgb(123, 191, 255);
  animation: visitedNodesAni $animation-time-visited ease-in 0s 1 forwards;
}

.wall-node {
  background-color: var(--wall-node-color);
}

.path-node {
  background-color: rgb(226, 240, 97);
  border: none;
  transform-origin: center;
  // animation: PathNodesAni $animation-time-visited ease-in 0s 1 forwards;
}

@keyframes NodeAnim {
  to {
    transform: scale(1);
  }
}

@keyframes visitedNodesAni {
  from {
    transform-origin: center;
    transform: scale(0.1);
    border-radius: 50%;
    background-color: rgb(102, 255, 0);
  }
  to {
    border-radius: 0;
    transform: scale(1);
  }
}

@keyframes PathNodesAni {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
