header {
  background-color: var(--theme-color);
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 30px;

  height: 60px;

  .logo {
    font-size: 2.5rem;
  }
  .info {
    width: 250px;
    font-size: 2.3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: inherit;
    }

    &--what-is {
      font-size: 1.5rem;
      cursor: pointer;
    }

    &--github {
      cursor: pointer;
    }
  }
}
