@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap");

@import "./components/Table/Table.styles.scss";
@import "./components/Node/Node.styles.scss";
@import "./components/Header/header.styles.scss";
@import "./components/NodeStatus/NodeStatus.styles.scss";
@import "./components/DijkstraInfo/dijkstraInfo.styles.scss";

.table-wrapper {
  width: 100vw;
  height: 100vh;

  // background-color: yellow;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 2px 25px;
  height: 40px;
  cursor: pointer;
  background-color: rgb(66, 185, 144);

  border-radius: 5px;

  font-size: 1.3rem;

  &:disabled {
    background-color: rgb(129, 218, 186);
    color: white;
    cursor: not-allowed;
  }
}
